<div [formGroup]="form">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Payment Method</mat-label>
    <mat-select formControlName="paymentMethod">
      <mat-option value="cash">Cash</mat-option>
      <mat-option value="creditCard">Credit Card</mat-option>
      <mat-option value="debit">Debit</mat-option>
    </mat-select>
  </mat-form-field>

  <app-credit-card-form
    [parentForm]="form"
    childFormControlName="creditCard"
    *ngIf="paymentMethod === 'creditCard'">
  </app-credit-card-form>

  <app-debit-form
    [parentForm]="form"
    childFormControlName="debit"
    *ngIf="paymentMethod === 'debit'">
  </app-debit-form>
</div>
