<mat-card>
  <h3>Credit Card Details</h3>
  <div [formGroup]="form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Card Number</mat-label>
      <input matInput type="text" formControlName="cardNumber" maxlength="16"/>
      <mat-error *ngIf="form.get('cardNumber')?.hasError('required')">
        Card Number is required.
      </mat-error>
      <mat-error *ngIf="form.get('cardNumber')?.hasError('pattern')">
        Invalid Card Number (16 digits).
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Expiry Date (MM/YY)</mat-label>
      <input matInput type="text" formControlName="expiryDate" placeholder="MM/YY"/>
      <mat-error *ngIf="form.get('expiryDate')?.hasError('required')">
        Expiry Date is required.
      </mat-error>
      <mat-error *ngIf="form.get('expiryDate')?.hasError('pattern')">
        Invalid Format (MM/YY).
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>CVV</mat-label>
      <input matInput type="text" formControlName="cvv" maxlength="3"/>
      <mat-error *ngIf="form.get('cvv')?.hasError('required')">
        CVV is required.
      </mat-error>
      <mat-error *ngIf="form.get('cvv')?.hasError('pattern')">
        Invalid CVV (3 digits).
      </mat-error>
    </mat-form-field>

  </div>
</mat-card>
