<h2>Dynamic Form</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" class="dynamic-form--name">
    <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      Name is required.
    </mat-error>
  </mat-form-field>

  <app-payments-form [form]="paymentsForm"></app-payments-form>

  <button mat-raised-button color="primary" type="submit" class="dynamic-form--submit">Submit</button>
</form>
