.container {
  /*max-width: 500px;*/
  margin: auto;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

mat-card {
  padding: 20px;
  margin-top: 20px;
}

.sub-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-container-item {
  width: 48%;
}
