<mat-card class="container">
  <div>
    <h1>App Component</h1>
  </div>
  <div class="sub-container">
    <mat-card class="sub-container-item">
      <button mat-raised-button color="primary" type="button" (click)="onLoadCreditCard()" class="button-load-creditcard">Load Credit Card</button>
      <button mat-raised-button color="primary" type="button" (click)="onLoadDebit()" class="button-load-debit">Load Debit</button>
      <button mat-raised-button color="primary" type="button" (click)="onLoadCreditCardAndDebit()" class="button-load-creditcard-and-debit">Load CreditCard &
        Debit
      </button>
      <button mat-raised-button color="primary" type="button" (click)="onClear()" class="button-clear">Clear</button>

      <mat-card *ngIf="submittedValue">
        <div [innerHTML]="submittedValue | json" class="submitted-value-container"></div>
      </mat-card>

    </mat-card>
    <mat-card class="sub-container-item">
      <app-dynamic-form [paymentDetails]="paymentDetails$ | async"
                        (submitForm)="onSubmitForm($event)"></app-dynamic-form>
    </mat-card>
  </div>
</mat-card>
